.products_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(258px, 1fr));
  max-width: 1458px;
  margin: 100px auto 100px auto;
  gap: 50px;
  justify-items: center;
}

/* Comment Code */
.products_container section {
  margin: 0 auto;
}
