.category {
    height: 350px;
    width: 350px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.category img {
    width: 100%;
    object-fit: cover;
    /* overflow: auto; */
    max-height: 250px;
    padding: 0 10px 0 0;
}

.category a {
  text-decoration: none;
  color: rgb(35, 35, 35);
}

/* Comment Code */
.category h2,

/* Comment Code */
.category p {
  padding: 5px;
  margin-left: 15px;
}

/* Comment Code */
.category p {
  font-size: 12px;
  font-weight: bold;
  color: rgb(9, 132, 209);
}

.category_container {
    /* display: flex;
    justify-content: space-evenly;
    position: relative;
    margin-top: -10%; */

    
  position: relative;
  margin-top: -10%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
}
